pipeline/Incremental_Oracle_to_AzureSQL.json
{
	"name": "Incremental_Oracle_to_AzureSQL",
	"properties": {
		"activities": [
			{
				"name": "Oracle_to_AzureSQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKU_OldWaterMark_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKU_NewWaterMark_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select * from @{pipeline().parameters.Table_name}\nwhere @{pipeline().parameters.Owner}>\n'(activity('LKU_OldWaterMark_Value').output.Limit1.WaterMarkvalue')\nand \n@{pipeline().parameters.Owner}<= '(activity('LKU_NewWaterMark_Value').output.Limit 1.NewWaterMarkvalue)'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "24:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_RC_Meta_version_info_Test",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SinkTable",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.Table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKU_OldWaterMark_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select Table_name, Water_Mark_value from WaterMarkTable where Table_name = '@{pipeline().parameters.Table_name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_WaterMark_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKU_NewWaterMark_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "Select Max(@{pipeline().parameters.Owner}) as NewWaterMarkvalue\nfrom @{pipeline().parameters.Table_name}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Source_config_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Oracle_to_AzureSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_SetWaterMark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('LKU_NewWaterMark_Value').output.firstRow.NewWaterMarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('LKU_OldWaterMark_Value').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Table_name": {
				"type": "string",
				"defaultValue": "orders"
			},
			"Owner": {
				"type": "string",
				"defaultValue": "InsertDatetime"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-27T12:11:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}