pipeline/MasterIncrementalLoad.json
{
	"name": "MasterIncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Source_config_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute_PL_IncrementalCopy",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Incremental_Oracle_to_AzureSQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Table_name": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"Owner": {
										"value": "@{item().WaterMarkColumn}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-27T12:14:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}