templates/MasterIncrementalLoad/MasterIncrementalLoad.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"Oracle2": {
			"type": "string"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MasterIncrementalLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Source_config_table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Config",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Execute_PL_IncrementalCopy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Incremental_Oracle_to_AzureSQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Table_name": {
												"value": "@{item().TableName}",
												"type": "Expression"
											},
											"Owner": {
												"value": "@{item().WaterMarkColumn}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-27T12:14:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_config_table')]",
				"[concat(variables('factoryId'), '/pipelines/Incremental_Oracle_to_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_config_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Oracle2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "OA_HERE_MAPS",
					"table": "CONFIG_SOURCE_TABLE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental_Oracle_to_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Oracle_to_AzureSQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LKU_OldWaterMark_Value",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LKU_NewWaterMark_Value",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select * from @{pipeline().parameters.Table_name}\nwhere @{pipeline().parameters.Owner}>\n'(activity('LKU_OldWaterMark_Value').output.Limit1.WaterMarkvalue')\nand \n@{pipeline().parameters.Owner}<= '(activity('LKU_NewWaterMark_Value').output.Limit 1.NewWaterMarkvalue)'",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "24:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Source_RC_Meta_version_info_Test",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SinkTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Table_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LKU_OldWaterMark_Value",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select Table_name, Water_Mark_value from WaterMarkTable where Table_name = '@{pipeline().parameters.Table_name}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_WaterMark_table",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LKU_NewWaterMark_Value",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "Select Max(@{pipeline().parameters.Owner}) as NewWaterMarkvalue\nfrom @{pipeline().parameters.Table_name}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Source_config_table",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Set WaterMark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Oracle_to_AzureSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_SetWaterMark]",
							"storedProcedureParameters": {
								"NewTime": {
									"value": {
										"value": "@activity('LKU_NewWaterMark_Value').output.firstRow.NewWaterMarkValue",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@activity('LKU_OldWaterMark_Value').output.firstRow.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureSqlDatabase1')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"Table_name": {
						"type": "string",
						"defaultValue": "orders"
					},
					"Owner": {
						"type": "string",
						"defaultValue": "InsertDatetime"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-27T12:11:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_RC_Meta_version_info_Test')]",
				"[concat(variables('factoryId'), '/datasets/DS_SinkTable')]",
				"[concat(variables('factoryId'), '/datasets/DS_WaterMark_table')]",
				"[concat(variables('factoryId'), '/datasets/Source_config_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_RC_Meta_version_info_Test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Oracle2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "OA_HERE_MAPS",
					"table": "RC_META_VERSION_INFO_TEST"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SinkTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_WaterMark_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Table_name",
						"type": "varchar"
					},
					{
						"name": "Water_Mark_value",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "WaterMarkTable"
				}
			},
			"dependsOn": []
		}
	]
}